altair_saver==0.5.0
altair_viewer==0.4.0
AppKit==0.2.8
atheris==2.2.2
awscrt==0.19.1
beautifulsoup4==4.12.2
bjoern==3.2.2
brotli==1.0.9
cftime==1.6.2
charset_normalizer==3.2.0
chart_studio==1.1.0
# Cheetah==2.4.4
cherrypy==18.8.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==38.0.1
ctypes_snappy==1.03
cycler==0.11.0
Cython==3.0.2
cytoolz==0.12.2
dask==2023.8.1
defusedxml==0.7.1
diesel==3.0.24
Django==4.2.4
dl==0.1.0
docutils==0.19
docutils==0.19
eventlet==0.33.3
fastparquet==2023.7.0
flup==1.0.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.6.0
genapi==0.0.8
gevent==23.7.0
gitdb_speedups==0.1.0
gunicorn==21.2.0
HTMLParser==0.0.2
hypothesis==6.82.6
ipaddr==2.2.0
ipython==8.5.0
ipywidgets==8.0.6
isoduration==20.11.0
JPype1==1.4.1
jsonpointer==2.4
keyring==24.2.0
lxml==4.9.1
Mako==1.2.4
matplotlib==3.6.0
meinheld==1.0.2
mock==5.1.0
mtrand==0.1
mypy==1.5.1
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.8.5
odfpy==1.4.1
olefile==0.46
openpyxl==3.1.2
ordereddict==1.1
PasteScript==3.3.0
pickle5==0.0.12
psutil==5.9.3
psycopg2==2.9.7
pycares==4.3.0
pycurl==7.45.2
PyInstaller==5.13.1
pyOpenSSL==23.2.0
pyperf==2.6.1
PyQt4==4.11.4
PyQt5==5.15.9
PyQt5_sip==12.11.0
PyQt6==6.5.2
PySide2==5.15.2.1
PySide6==6.5.2
pytest==7.1.3
python-socketio==5.8.0
pyxlsb==1.0.10
PyYAML==6.0
PyYAML==6.0.1
qtpy==2.3.1
recommonmark==0.7.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rocket==1.2.8
s3fs==2023.6.0
scikit_learn==1.3.0
scipy==1.11.2
sets==0.3.2
setuptools_scm==7.0.5
simplejson==3.19.1
skimage==0.0
Sphinx==7.2.4
SQLAlchemy==2.0.20
statsmodels==0.14.0
sympy==1.12
tables==3.8.0
testbench==0.1.2
threadpoolctl==3.2.0
traitlets==5.9.0
uri_template==1.3.0
vega_datasets==0.9.0
vincent==0.4.4
waitress==2.1.2
webcolors==1.13
wincertstore==0.2.1
xarray==2023.8.0
xlrd==2.0.1
xlsxwriter==3.1.2
xmlrpclib==1.0.1
streamlit>=1.14.0
plotly>=5.0.0
pandas==1.1.1
requests==2.24.0
numpy==1.19.0